.container-vida{
    margin: 1.5rem;
    display: flex;
    flex-flow: column wrap;
    background-color: rgba(204, 12, 191, 0.599);
    width: 30%;
    padding: 1rem;
    border-radius: 20%;
    border: 5px solid #3d030344;
  }

  .life-bar {
    display: flex;
    align-items: center;
  }
  
  .life-bar-inner {
    background-color: green;
    transition: width 0.5s ease-in-out;
    border-radius: 10px;
  }
  
  .container-life-bar{
    display: flex;
    text-align: center;
  }
  
  .container-life-bar p{
    padding-inline: 1.5rem;
  }
  
  .p-life{
    font-size:1.5rem ;
    margin: 1rem auto;
    font-weight: bold;
  }
  
  .ps{
    background-color: rgba(136, 255, 0, 0.736);
    border-radius: 100vmax;
    margin: 0 .5rem ;
  }

