.container-options {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  background-color: rgba(12, 12, 12, 0.7);
  text-align: center;
  width: 50%;
  margin: 16rem auto;
  border: medium solid #a102bd;
  padding: 3rem 0;
}

.btn-option {
  border: none;
  background-color: #662d91;
  width: 200px;
  height: 50px;
  padding: 1rem;
  border-radius: 10px;
  margin: .5rem;
  color: #fff;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.btn-option:hover {
  background-color: #9b45dc;
  transform: scaleX(1.1);
}


@media screen and (max-width: 810px) {
  .container-options {
    width: 70%;
  }
}

@media screen and (max-width: 590px) {
  .container-options {
    width: 80%;
  }
}

@media screen and (max-width: 470px) {
  .container-options {
    width: 90%;
  }
}