body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/img/pixels-pixel-art-video-games-pokemon-wallpaper-preview.jpg);
  background-image: url('./assets/img/pixels-pixel-art-video-games-pokemon-wallpaper-preview.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: black;
  user-select: none;
  -moz-user-select: none;
}

:root {
  font-family: 'VT323', monospace ;
}

.container-vida {
  margin: 1.5rem;
  display: flex;
  flex-flow: column wrap;
  background-color: rgba(204, 12, 191, 0.599);
  width: 30%;
  padding: 1rem;
  border-radius: 20%;
  border: 5px solid #3d030344;
}


.life-bar {
  display: flex;
  align-items: center;
}

.life-bar-inner {
  background-color: green;
  transition: width 0.5s ease-in-out;
  border-radius: 10px;
}

.container-life-bar {
  display: flex;
  text-align: center;
}

.container-life-bar p {
  padding-inline: 1.5rem;
}

.p-life {
  font-size: 1.5rem;
  margin: 1rem auto;
  font-weight: bold;
}

.ps {
  background-color: rgba(136, 255, 0, 0.736);
  border-radius: 100vmax;
  margin: 0 .5rem;
}

.go-back {
  display: flex;
  margin: 0 auto;
  background-color: antiquewhite;
  border: none;
}

.pokemon-sad {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.pokemon-sad-img {
  width: 50%;
  max-height: 300px;
  object-fit: contain;
  filter: grayscale(100%);
  margin: 1rem;
}

@media screen and (max-width: 740px) {
  .container-vida {
    width: 50%;
  }
}

@media screen and (max-width: 486px) {
  .container-vida {
    width: 60%;
    margin-left: 3rem;
  }
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom {
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 100vh;
}

.p-puntuacion{
  font-size: 1.5rem;
  font-weight: bold;
}